.create {
    text-align: center;
    padding: 40px 0;
}
.footer {
    text-align: center;
    padding: 50px 0;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    }
.button:hover {
    background-color: #555;
}