.footer {
    text-align: center;
    padding: 20px 0;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    }
.button:hover {
    background-color: #555;
}
.paginate {
    display: flex;
    justify-content: center;
}

.custom-box {
    width: 100%; /* グリッドアイテムを100%幅にする */
    height: 100px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center; /* テキストを水平方向に中央揃えにする */
    align-items: center; /* テキストを垂直方向に中央揃えにする */
    margin: 10px; /* 必要に応じて余白を追加 */
}

.custom-box h3 {
    padding-left: 20px; /* 左側のパディングを追加 */
    padding-right: 20px; /* 右側のパディングを追加 */
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2列にする */
    gap: 1rem; /* 列間の間隔 */
}